import TokenGeneration from "./generation";
import crypto from "crypto";

const hmacKey = Buffer.from(crypto.randomBytes(32)); //HMAC KEY

const generation = new TokenGeneration(
  {
    host: "localhost",
    user: "(user)",
    password: "(password)",
    database: "(database)",
  },
  hmacKey
);

(async () => {
  const refreshToken = await generation.createRefreshToken("smile", 20);
  const accessToken = await generation.createAccessToken(refreshToken, 30);

  if (!accessToken) throw new Error("Access token error");

  console.log(generation.tokenToString(refreshToken));
  console.log(generation.tokenToString(accessToken));

  await generation.addGeneration("smile"); //Disable refresh token

  //It will be null
  const accessToken2 = await generation.createAccessToken(refreshToken, 30);
  console.log(accessToken2);

  generation.close();
})();
